@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE HTML>

<html>
<head>
    <title>BodyKraft Gym</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <link href="~/owl/owl-carousel/owl.carousel.css" rel="stylesheet" />
    <link href="~/owl/owl-carousel/owl.theme.css" rel="stylesheet" />
    <link href="~/lightcase/src/css/lightcase.css" rel="stylesheet" />
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: 100%;
        }
    </style>
</head>
<body onload="initialize()">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <a href="/Home/Index" class="logo">

                <img class="logo" src="~/Gym/Bodykraft logo.png" />
                @*<strong>BodyKraft</strong> <span>Gym</span>*@
            </a>
            <a class="logo sm-links" href="/Home/Index"><span>Home</span></a>
            <a class="logo sm-links" href="#one"><span>Gallery</span></a>
            <a class="logo sm-links" href="#one"><span>Schedule</span></a>
            <a class="logo sm-links"><span>About Us</span></a>
            <a class="logo sm-links"><span>Contact</span></a>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <ul class="links">
                <li><a href="index.html">Home</a></li>
                <li><a href="landing.html">Landing</a></li>
                <li><a href="generic.html">Generic</a></li>
                <li><a href="elements.html">Elements</a></li>
            </ul>
            <ul class="actions vertical">
                <li><a href="#" class="button special fit">Get Started</a></li>
                <li><a href="#" class="button fit">Log In</a></li>
            </ul>
        </nav>

        <!-- Banner -->
        @*<section id="banner" class="style2">
                <div class="inner">
                    <header class="major">
                        <h1>Welcome to our website</h1>
                    </header>
                    <div class="content">
                        <p>
                            Your guide to health and fitness.
                        </p>

                        <ul class="actions">
                            <li><a href="#one" class="button next scrolly">FITNESS GALLERY</a></li>
                        </ul>
                    </div>
                </div>
            </section>*@

        <section id="banner" class="major">
            <div class="inner">

                <header class="major">

                    <h1>
                        <a href="/Home/Index">
                            <img style="height:3.4%;width:3.4%" src="~/Gym/Bodykraft Logo.jpg" />
                        </a>
                        Welcome to our website
                    </h1>
                </header>
                <div class="content">
                    <p>
                        Your guide to health and fitness.
                    </p>

                    <ul class="actions">
                        <li><a href="#one" class="button next scrolly">FITNESS GALLERY</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Main -->
        <div id="main">

            <!-- One -->
            <section id="one" class="tiles">
                <div class="inner">
                    <div id="owl-demo">
                        <div class="item">
                            <a href="~/Gym/IMG_5548.jpg" data-rel="lightcase:myCollection"><img src="~/Gym/IMG_5548.jpg"  /></a>
                        </div>
                        <div class="item">
                            <a href="~/Gym/IMG_5553.jpg" data-rel="lightcase:myCollection"><img src="~/Gym/IMG_5553.jpg"  /></a>
                        </div>
                        <div class="item">
                            <a href="~/Gym/IMG_5555.jpg" data-rel="lightcase:myCollection"><img src="~/Gym/IMG_5555.jpg"  /></a>
                        </div>
                        <div class="item">
                            <a href="~/Gym/IMG_5558.jpg" data-rel="lightcase:myCollection"><img src="~/Gym/IMG_5558.jpg"  /></a>
                        </div>
                    </div>
                </div>
                @*<article class="my1">
                        <a href="landing.html" class="link"></a>
                    </article>
                    <article class="my2"></article>
                    <article class="my3"></article>
                    <article class="my4"></article>*@
            </section>
            <!-- Two -->
            <section id="two">
                <div class="inner">
                    <header class="major">
                        <h2>About Us</h2>
                    </header>
                    <p>
                        <span class="image left"><img src="~/Gym/IMG_4594.jpg" /></span>
                        <b>Bodykraft</b> gym was established in <strong>2000</strong>.
                    </p>
                    <p>It was conceived by Martial arts Police instructor Donald Melville. Initially the gym was to be solely utilized for his police trainees. However, since this was the only gym in the vicinity, people were impatiently eager to avail its facilities. This persuaded Donald to oblige.</p>
                    <p>Today 16 years later, Bodykraft gym has flourished and continues to outshine. The imminent success of the gym has made several expansions possible. From a singe section, Bodykraft gym now offers three exercise sections with various gym equipments.</p>
                    <p>
                        The gym emphasizes the use of manual equipments.
                        We are always there to guide you towards fitness with a reliable trainer on the floor.
                        From weight loss to muscle training. Body sculpting to stamina enhancement. Weight gain to aerobics - We have got you covered with the best price in town!
                    </p>
                    <ul class="actions">
                        <li><a href="landing.html" class="button next">Know more about instructor</a></li>
                    </ul>
                </div>
            </section>
            <section>
                <div class="inner">
                    <header class="major">
                        <h2>Timings</h2>
                    </header>
                    <p>
                        The gym is open from Monday to Saturday. We have two unisex batches and two batches for ladies.

                        The timings of the batches are as follows:
                    </p>
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    @*<th>Name</th>
                                        <th>Description</th>
                                        <th>Price</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>6:15 to 9:30 AM</td>
                                    <td>Unisex batch (Combined for gents and ladies)</td>
                                </tr>
                                <tr>
                                    <td>5:00 to 9:30 PM</td>
                                    <td>Unisex batch (Combined for gents and ladies)</td>
                                </tr>
                                <tr> </tr>
                                <tr>
                                    <td>11:00 to 12: 30 Noon</td>
                                    <td>Ladies Batch</td>
                                </tr>
                                <tr>
                                    <td>2:00 to 4:00 PM</td>
                                    <td>Ladies Batch</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                @*<tr>
                                        <td colspan="2"></td>
                                        <td>100.00</td>
                                    </tr>*@
                            </tfoot>
                        </table>
                    </div>
                    <p>
                        <b>*Note-</b> Males are not allowed to enter the gym premises during the specified ladies batch.
                    </p>
                </div>
            </section>
        </div>


        <!-- Contact -->
        <section id="contact">
            <div class="inner">
                <section style="overflow:hidden">
                    <header class="major">
                        <h2>Contact us</h2>
                    </header>
                    <div id="map"></div>
                </section>
                <section class="split">
                    <section>
                        <div class="contact-method">
                            <span class="icon alt fa-envelope"></span>
                            <h3>Email</h3>
                            <a href="#">information@untitled.tld</a>
                        </div>
                    </section>
                    <section>
                        <div class="contact-method">
                            <span class="icon alt fa-phone"></span>
                            <h3>Call us on</h3>
                            <span>(0265) 2342344</span>
                        </div>
                    </section>
                    <section>
                        <div class="contact-method">
                            <span class="icon alt fa-home"></span>
                            <h3>Address</h3>
                            <span>
                                <span>
                                    168-B, Radhakrishna Society,<br /> Sahajanand Road Akota,
                                    <br /> Vadodara 390020,
                                    <br />Gujarat.
                                </span>
                            </span>
                        </div>
                    </section>
                </section>
            </div>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <ul class="icons">
                    <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
                    <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Betacodelabs</li>
                    <li>Powered By: <a href="http://www.betacodelabs.com">www.betacodelabs.com</a></li>

                </ul>
            </div>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/assets/js/skel.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/assets/js/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6pGLJgD_fz15Jg0mHgve8UqgCOdwawhs&callback=initMap"
            async defer></script>
    <script src="~/owl/owl-carousel/owl.carousel.js"></script>
    <script src="~/lightcase/src/js/lightcase.js"></script>
    <script>
        //var map;
        //function initMap() {
        //  map = new google.maps.Map(document.getElementById('map'), {
        //    center: {lat: -34.397, lng: 150.644},
        //    zoom: 8
        //  });
        //}
        var geocoder;
        var map;
        var address = "168-B, Radhakrishna Society, Sahajanand Road, Akota, Akota, Vadodara, Gujarat 390020";

        function initialize() {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(-34.397, 150.644);
            var myOptions = {
                zoom: 13,
                center: latlng,
                mapTypeControl: true,
                mapTypeControlOptions: {
                    style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
                },
                navigationControl: true,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map"), myOptions);
            if (geocoder) {
                geocoder.geocode({
                    'address': address
                }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
                            map.setCenter(results[0].geometry.location);

                            var infowindow = new google.maps.InfoWindow({
                                content: '<b style="color:grey">' + address + '</b>',
                                size: new google.maps.Size(150, 50)
                            });

                            var marker = new google.maps.Marker({
                                position: results[0].geometry.location,
                                map: map,
                                title: address
                            });
                            google.maps.event.addListener(marker, 'click', function () {
                                infowindow.open(map, marker);
                            });

                        } else {
                            alert("No results found");
                        }
                    } else {
                        alert("Geocode was not successful for the following reason: " + status);
                    }
                });
            }

            $("#owl-demo").owlCarousel({

                autoPlay: 2000, //Set AutoPlay to 3 seconds
                pagination: true,
                items: 3,
                itemsScaleUp: true,
                itemsDesktop: [1199, 3],
                itemsDesktopSmall: [979, 3]

            });

            $('a[data-rel^=lightcase]').lightcase();
        }
        google.maps.event.addDomListener(window, 'load', initialize);

        //$(document).ready(function () {
        //    $("#owl-example").owlCarousel();
        //});
    </script>

</body>
</html>