@{
    ViewBag.IsHome = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <section id="banner" class="major">
        <div class="inner">
            <div style="width:40%;float:left;">
                <img style="width:300px;" src="~/Gym/newlogo2.png" />
            </div>
            <div style="width:60%;float:right">
                <header class="major">
                    <h1>
                        Welcome to our website
                    </h1>
                </header>
                <div class="content">
                    <p>
                        Your guide to health and fitness.
                    </p>
                    <ul class="actions">
                        <li><a href="#one" class="button next scrolly">FITNESS GALLERY</a></li>
                    </ul>
                </div>
            </div>


        </div>
    </section>
    <!-- Main -->
    <div id="main">
        <!-- One -->
        <section id="one" class="tiles">
            <div class="inner">
                <div id="owl-demo">
                    <div class="item">
                        <a href="~/Gym/IMG_5548.jpg" data-rel="lightcase:myCollection"><img src="~/Gym/IMG_5548.jpg" /></a>
                    </div>
                    <div class="item">
                        <a href="~/Gym/IMG_5553.jpg" data-rel="lightcase:myCollection"><img src="~/Gym/IMG_5553.jpg" /></a>
                    </div>
                    <div class="item">
                        <a href="~/Gym/IMG_5555.jpg" data-rel="lightcase:myCollection"><img src="~/Gym/IMG_5555.jpg" /></a>
                    </div>
                    <div class="item">
                        <a href="~/Gym/IMG_5558.jpg" data-rel="lightcase:myCollection"><img src="~/Gym/IMG_5558.jpg" /></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Two -->
        <section id="two">
            <div class="inner">
                <header class="major">
                    <h2>About Us</h2>
                </header>
                <p>
                    <span class="image left"><img src="~/Gym/IMG_4594.jpg" /></span>
                    <b>Bodykraft</b> gym was established in <strong>2000</strong>.
                </p>
                <p>It was conceived by Martial arts Police instructor Donald Melville. Initially the gym was to be solely utilized for his police trainees. However, since this was the only gym in the vicinity, people were impatiently eager to avail its facilities. This persuaded Donald to oblige.</p>
                <p>Today 16 years later, Bodykraft gym has flourished and continues to outshine. The imminent success of the gym has made several expansions possible. From a singe section, Bodykraft gym now offers three exercise sections with various gym equipments.</p>
                <p>
                    The gym emphasizes the use of manual equipments.
                    We are always there to guide you towards fitness with a reliable trainer on the floor.
                    From weight loss to muscle training. Body sculpting to stamina enhancement. Weight gain to aerobics - We have got you covered with the best price in town!
                </p>
                <ul class="actions">
                    <li><a href="/Home/About" class="button next">Owner's Bio</a></li>
                </ul>
            </div>
        </section>
        <!-- Three -->
        <section id="three">
            <div class="inner">
                <header class="major">
                    <h2>Timings</h2>
                </header>
                <p>
                    The gym is open from Monday to Saturday. We have two unisex batches and two batches for ladies.

                    The timings of the batches are as follows:
                </p>
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>6:15 to 9:30 AM</td>
                                <td>Unisex batch (Combined for gents and ladies)</td>
                            </tr>
                            <tr>
                                <td>5:00 to 9:30 PM</td>
                                <td>Unisex batch (Combined for gents and ladies)</td>
                            </tr>
                            <tr> </tr>
                            <tr>
                                <td>11:00 to 12: 30 Noon</td>
                                <td>Ladies Batch</td>
                            </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
                <p>
                    <b>*Note-</b> Males are not allowed to enter the gym premises during the specified ladies batch.
                </p>
            </div>
        </section>
    </div>
